.banner_slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home-banner-caption {
  position: absolute;
  bottom: 15%; /* Position from bottom */
  left: 50%; /* Position horizontally */
  transform: translateX(-50%); /* Center horizontally */
  text-align: center;
  width: 100%;
}

.home-banner-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* banner caption */
.hero-content {
  padding: 50px;
  background: rgba(255, 255, 255, 0.25); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blurring effect */
  border-radius: 20px;
  display: inline-block;
  width: 100%;
  max-width: 700px; /* Limit width for better responsiveness */
}

.hero-content h1 {
  font-size: var(--font-size-xxl);
  color: var(--text-light);
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: var(--muted-text);
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  font-size: 1rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 60%;
  max-width: 500px;
}
.search-btn{
  padding: 9px;
  border: none;
  font-size: 1rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
 
}
.cta-buttons button {
  padding: 12px 25px;
  font-size: 1rem;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primary-cta {
  border: none;
  background-color: var(--primary-color);
  color: white;
}

.primary-cta:hover {
  background-color: var(--secondary-color);
}

.secondary-cta {
  background-color: #f8f9fa;
  border: none;
  color: #007bff;
}

.secondary-cta:hover {
  background-color: #007bff;
  color: white;
}
