.home_page {
  padding: 10px 0;
}

.call_to_action_button {
  padding: 50px 0;
}
.cta-section {
  background-color: var(--background-color);
  text-align: center;
}

.cta-card {
  background: var(--background-color);
  padding: 40px;
  border-radius: 12px;
  box-shadow: var(--box-shadow-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-color: var(--primary-color) !important;
}

.cta-card:hover {
  transform: scale(1.02);
  box-shadow: var(--box-shadow-medium);
}

.cta-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color) !important;
  margin-bottom: 15px;
}

.cta-description {
  font-size: 1.2rem;
  color: var(--primary-color) !important;
  margin-bottom: 25px;
  text-align: center;
}

.cta-buttons .cta-btn {
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 30px;
  margin: 10px;
  text-transform: capitalize;
  transition: background-color 0.3s, transform 0.2s;
}

.cta-buttons .cta-btn:hover {
  transform: translateY(-2px);
  background-color: var(--secondary-color);
  color: white;
  border-color: white;
}
